table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #2EFEF7;

}
th{
    font-weight: 800;
    background-color: #2EFEF7;
    color: #ffffff;
}